<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>&#128077; Пост добавлен</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>&#128077; Пост добавлен! </h1>


    <div class="post">

        <img src="{{ picture }}" width="100%" alt="Тут была бы ваша картинка">
        <p>{{ name }}</p>

        {% for m in menu -%}
            <li><a href="{{ m.url }}">{{ m.name }}</a></li>
        {% endfor -%}

    </div>

    <hr>

    <a href="/post/" class="button">Добавить еще пост</a>

</main>
</body>
</html>
